#gameboard {
    font-size: 50px;
}

#gameboard button {
    border-radius: 5px;
    width: 75px;
    font-size: 60px;
    line-height: 75px;
}

.history-cell {
    border: 1px solid;
    line-height: 13px;
    text-align: center;
    padding: 2px;
}